<div class="col-lg-3 col-sm-6 col-sm-6 mb-5">
	<%= link_to fighter_path(fighter.id) do  %>
		<div class="card card-fighter no-border shadow shadow--hover">
			<div class="card-img-top text-center p-2">
				<%= image_tag fighter.avatar, alt: 'fighter', height: 208%>
			</div>
			<div class="card-body pt-0 text-center">
				<h5 class="card-title"> <%= fighter.name %></h5>               
			</div>
			<div class="card-footer text-muted text-center">
				Experience : <%= fighter.xp %>
			</div>
		</div>
	<% end %>
</div>
