<div class="card card-fighter no-border shadow shadow--hover m-5 p-5">
  <h1 class="text-center">Editing <%= @fighter.name %></h1>
  <div class="row">
    <div class="flex-grow-1">
      <%= render 'form', fighter: @fighter %>
    </div>

    <div class="px-3" style="overflow: hidden">
      <%= image_tag @fighter.avatar, alt: 'fighter', style: "width: 22em"%>
    </div>
  </div>
</div>
