<div class="row row justify-content-around my-5 py-5">
  <div class="col-lg-3 col-sm-6 mb-5">
    <%= link_to new_fight_path do  %>
      <div class="card card-fighter no-border shadow shadow--hover pt-5">
        <div class="card-img-top text-center p-2 mt-4">
          <%= image_tag "fight_new.png", alt: 'fight', class: "img-fluid"%>
					<div class="card-body pt-0 text-center">
						<h5 class="card-title"> New fight</h5>               
					</div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-3 col-sm-6 col-sm-6 mb-5">
    <%= link_to new_fighter_path do  %>
      <div class="card card-fighter no-border shadow shadow--hover">
        <div class="card-img-top text-center p-2">
          <%= image_tag "fighter/default.png", alt: 'fighter', class: "img-fluid"%>
        </div>
        <div class="card-body pt-0 text-center">
          <h5 class="card-title"> New fighter</h5>               
        </div>
      </div>
    <% end %>
  </div>
</div>