<h1>Fights</h1>
<div class="row">
  <div class="col-lg-3 col-sm-6 mb-5">
    <%= link_to new_fight_path do  %>
      <div class="card card-fighter no-border shadow shadow--hover">
        <div class="card-img-top text-center p-2">
          <%= image_tag "fight.jpg", alt: 'fight', class: "img-fluid"%>
          <div class="carousel-caption">
            <h3 style="text-shadow: 2px 2px 2px black;">New fight</h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%@fights.each do |fight|%>
    <%= render "fights/card", fight: fight %>
  <%end%>
</div>
