<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
    <div class="container">
        <%= link_to root_path, :class => 'navbar-brand mr-lg-5' do  %>
            <%= image_tag "logo.png", alt: 'fImage placeholderighter', style: "width: 3em"%>
        <% end %>
        <button id="toggler-nav-bar" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
                <li class="nav-item ">
                    <%= link_to 'All Fights', fights_path, :class => 'nav-link'  %>
                </li>
                    <%= link_to "All Fighters", fighters_path, :class => 'nav-link'  %>
                </li>
            </ul>
        </div>
    </div>
 </nav>
